body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_home
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(../images/macbook-gradient.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#home
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 75px 0px 75px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#home > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 200px;
   padding-left: 200px;
   position: relative;
}
#home > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#home > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#home > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_morereviews
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#morereviews
{
   box-sizing: border-box;
   padding: 80px 15px 80px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#morereviews > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#morereviews > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#morereviews > .row > .col-1
{
   float: left;
}
#morereviews > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#morereviews > .row > .col-1 > .col-1-padding
{
   padding: 10px 0px 10px 0px;
}
#morereviews:before,
#morereviews:after,
#morereviews .row:before,
#morereviews .row:after
{
   display: table;
   content: " ";
}
#morereviews:after,
#morereviews .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#morereviews > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_facts
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F6F6F6;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#facts
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#facts > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#facts > .row > .col-1, #facts > .row > .col-2, #facts > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#facts > .row > .col-1, #facts > .row > .col-2, #facts > .row > .col-3
{
   float: left;
}
#facts > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#facts > .row > .col-1 > .col-1-padding
{
   padding: 50px 0px 50px 0px;
}
#facts > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 66.66666667%;
   text-align: center;
}
#facts > .row > .col-2 > .col-2-padding
{
   padding: 50px 0px 50px 0px;
}
#facts > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#facts > .row > .col-3 > .col-3-padding
{
   padding: 50px 0px 50px 0px;
}
#facts:before,
#facts:after,
#facts .row:before,
#facts .row:after
{
   display: table;
   content: " ";
}
#facts:after,
#facts .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#facts > .row > .col-1, #facts > .row > .col-2, #facts > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_homeText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 75px 50px 75px 50px;
   margin: 0;
   text-align: center;
}
#wb_homeText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
   line-height: 36px;
}
#wb_homeText p, #wb_homeText ul
{
   margin: 0;
   padding: 0;
}
#wb_contactUs
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contactUs
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contactUs > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contactUs > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contactUs > .row > .col-1
{
   float: left;
}
#contactUs > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#contactUs > .row > .col-1 > .col-1-padding
{
   padding: 10px 0px 10px 0px;
}
#contactUs:before,
#contactUs:after,
#contactUs .row:before,
#contactUs .row:after
{
   display: table;
   content: " ";
}
#contactUs:after,
#contactUs .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contactUs > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_contactUsForm
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contactUsForm
{
   box-sizing: border-box;
   padding: 50px 5px 75px 5px;
   margin-right: auto;
   margin-left: auto;
   max-width: 970px;
}
#contactUsForm > .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#contactUsForm > .row > .col-1, #contactUsForm > .row > .col-2, #contactUsForm > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 5px;
   padding-left: 5px;
   position: relative;
}
#contactUsForm > .row > .col-1, #contactUsForm > .row > .col-2, #contactUsForm > .row > .col-3
{
   float: left;
}
#contactUsForm > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#contactUsForm > .row > .col-2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #D9D9D9;
   width: 66.66666667%;
   text-align: left;
}
#contactUsForm > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#contactUsForm:before,
#contactUsForm:after,
#contactUsForm .row:before,
#contactUsForm .row:after
{
   display: table;
   content: " ";
}
#contactUsForm:after,
#contactUsForm .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contactUsForm > .row > .col-1, #contactUsForm > .row > .col-2, #contactUsForm > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text16
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 16.5px;
}
#wb_Text16 p, #wb_Text16 ul
{
   margin: 0;
   padding: 0;
}
#StickyLayer
{
   background-color: #000000;
   background-image: none;
   opacity: 0.77;
}
#wb_up-arrow
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 14px;
}
#wb_up-arrow:hover i
{
   color: #007BFF;
}
#wb_reviewsHeading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 20px 0px;
   text-align: center;
}
#reviewsHeading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_reviewsText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 20px 0px;
   margin: 0;
   text-align: center;
}
#wb_reviewsText2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 19px;
}
#wb_reviewsText2 p, #wb_reviewsText2 ul
{
   margin: 0;
   padding: 0;
}
#EditboxName
{
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 15px;
   padding: 12px 16px 12px 16px;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#EditboxName:focus
{
   border-color: #000000;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,0,0,0.60);
   outline: 0;
}
#EditboxEmail
{
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 12px 16px 12px 16px;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#EditboxEmail:focus
{
   border-color: #000000;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,0,0,0.60);
   outline: 0;
}
#Button1
{
   border: 1px solid #000000;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0;
}
#Label1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label2
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label3
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#ComboboxOption
{
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 12px 16px 12px 16px;
   margin: 0px 0px 10px 0px;
   box-sizing: border-box;
}
#ComboboxOption:focus
{
   border-color: #000000;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,0,0,0.60);
   outline: 0;
}
#Label4
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#TextAreaMessage
{
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 12px 16px 12px 16px;
   margin: 0px 0px 10px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextAreaMessage:focus
{
   border-color: #000000;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,0,0,0.60);
   outline: 0;
}
#wb_CheckboxUpdates
{
   margin: 0px 0px 10px 0px;
}
#wb_CheckboxUpdates
{
   position: relative;
}
#wb_CheckboxUpdates, #wb_CheckboxUpdates *, #wb_CheckboxUpdates *::before, #wb_CheckboxUpdates *::after
{
   box-sizing: border-box;
}
#wb_CheckboxUpdates input[type='checkbox']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 23px;
   height: 23px;
   left: 0;
   top: 0;
}
#wb_CheckboxUpdates label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#wb_CheckboxUpdates label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 23px;
   height: 23px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 3px solid #000000;
   border-radius: 4px;
}
#wb_CheckboxUpdates label::after
{
   display: inline-block;
   position: absolute;
   width: 23px;
   height: 23px;
   left: 0;
   top: 0;
   padding: 0;
   text-align: center;
   line-height: 23px;
}
#wb_CheckboxUpdates input[type='checkbox']:checked + label::after
{
   content: " ";
   background: url('data:image/svg+xml,%3csvg%20height%3d%2223%22%20width%3d%2223%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%3cg%20style%3d%22fill:%23FFFFFF%22%20transform%3d%22scale%280.0128%29%22%3e%0d%0a%3cpath%20transform%3d%22rotate%28180%29%20scale%28%2d1%2c1%29%20translate%280%2c%2d1536%29%22%20d%3d%22M1671%20970q0%20%2d40%20%2d28%20%2d68l%2d724%20%2d724l%2d136%20%2d136q%2d28%20%2d28%20%2d68%20%2d28t%2d68%2028l%2d136%20136l%2d362%20362q%2d28%2028%20%2d28%2068t28%2068l136%20136q28%2028%2068%2028t68%20%2d28l294%20%2d295l656%20657q28%2028%2068%2028t68%20%2d28l136%20%2d136q28%20%2d28%2028%20%2d68z%22/%3e%3c/g%3e%3c/svg%3e') no-repeat center center;
   background-size: 80% 80%
}
#wb_CheckboxUpdates input[type='checkbox']:checked + label::before
{
   background-color: #000000;
   background-image: none;
   border-color: #000000;
}
#wb_CheckboxUpdates input[type='checkbox']:focus + label::before
{
   outline: thin dotted;
}
#Label5
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 0px 4px 4px 0px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Line1
{
   border-color: #FFFFFF;
   border-color: rgba(255,255,255,0.00);
   border-style: solid;
   border-bottom-width: 11px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 20px 0px;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 20px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 19px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#Vimeo1
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Vimeo1
{
   display: block;
   position: relative;
   margin: 0;
   height: 0;
   overflow: hidden;
   box-sizing: border-box;
   padding-bottom: 56.25%;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 75%;
   text-align: right;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_headerMenu
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: right;
}
#wb_headerMenu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_headerMenu li
{
   float: left;
   margin: 0;
   padding: 8px 0px 8px 4px;
}
#wb_headerMenu a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 1px solid rgba(255,255,255,0.00);
   background-color: #FFFFFF;
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   height: 26px;
   line-height: 26px;
   padding: 0px 10px 0px 10px;
   vertical-align: middle;
   text-align: center;
}
#wb_headerMenu li:hover a, #wb_headerMenu a:hover
{
   color: #087EEA;
}
.headerMenu-effect:before
{
   background-color: #087EEA;
   background-image: none;
   border: 1px solid #087EEA;
}
#wb_headerMenu li.firstmain
{
   padding-left: 8px;
}
#wb_headerMenu li.lastmain
{
   padding-right: 8px;
}
#wb_headerMenu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.headerMenu-effect
{
   display: inline-block;
   -webkit-transform: perspective(0px) translateX(0);
   transform: perspective(0px) translateX(0);
   position: relative;
   -webkit-transition: color 200ms linear;
   transition: color 200ms linear;
}
.headerMenu-effect:before
{
   content: "";
   position: absolute;
   height: 1px;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
   opacity: 0;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transform-origin: 50%;
   transform-origin: 50%;
   -webkit-transition: all 200ms linear;
   transition: all 200ms linear;
}
.headerMenu-effect:hover:before, .headerMenu-effect:focus:before, .headerMenu-effect:active:before 
{
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
   opacity: 1;
}
